.didYouKnow {
    color: aliceblue;
    background: #005ea2;
    width: 100vw;
    height: 40vh;
}
.titleDYK {
    font-family: 'Merriweather', serif;
    font-size: 35px;
    font-weight: 400;
    padding-top: 30px;
    padding-left: 150px;
}
.DYKContent {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    flex-wrap: wrap;
    height: 80%;
}
.curiosites {
    display: flex;
    flex-wrap: wrap;
    padding-left: 100px;
    padding-bottom: 20px;
}
.iconDYK {
    width: 3vw;
}