.mainFooter {
    margin-top: 20vh;
    background: #f6f6f6;
    width: 100vw;
    display: flex;
    justify-content: center;
}
.footerWhoWeAre {
    width: 8.5vw;
    padding-right: 50px;
}
.pFooter {
    font-size: 16px;
}
h2.whoWeAreTitle {
    font-size: 25px;
    color: #0b4778
}
.WhatWeAreH2 {
    font-size: 20px;
    color: #0b4778
}
.footerWhatWeDo {
    width: 8.5vw;
    padding-right: 50px;
}
.whatWeDoTitle {
    color: #0b4778;
}
.whatWeDoH2 {
    font-size: 20px;
    color: #0b4778;
}
.footerNews {
    width: 8.5vw;
    padding-right: 50px;
}
.NewsTitle {
    font-size: 25px;
    color: #0b4778
}
.footerHeadq {
    width: 8.5vw;
    padding-right: 50px;
}
.HeadqTitle {
    font-size: 25px;
    color: #0b4778
}