.leadership {
    background: none;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}
.linkLeader {
    width: 100vw;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 19px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 29vw;
    margin-top: 20vh;
}
h4 a {
    font-size: 19px;
    font-weight: 400;
}
.link a {
    padding-right: 20px;
}
.link::after {
    padding-left: 10px;
    content: '>';
    font-weight: 900;
    color: red;
}
.Sherman {
    width: 15vw;
    padding-right: 20px;
}

.leadershipContent {
    width: 70vw;
}
.leaderSpan {
    color: #5c5c5c;
    line-height: 30px;
    font-size: 19px;
}
.surname {
    font-family: 'Merriweather', serif;
    color: #0b4778;
}