.work {
    background: white;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    width: 100vw;
    height: 35vh;
}
.workContent {
    background: white;
    color: #0b4778;
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    padding-top: 50px;
    width: 50vw;
    padding-right: 5vw;
    line-height: 30px;
}
.workTittle {
    font-size: 20px;
    font-family: 'Merriweather', serif;
    font-weight: bolder;
}