.Announcement {
    color: black;
    font-family: 'Nunito', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 20vh;
    padding-top: 10vh;
}
.announContainer {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding-left: 40px;
    padding: 38px;
    position: relative;
}
.announContent {
    background: #00bde31f;;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 65vw;
    padding-left: 20px;
    padding-right: 10px;
    padding-bottom: 30px;
}
.announClass {
    font-family: 'Merriweather', serif;
    color: #0b4778;
    display: flex;
    justify-content: flex-start;
    padding-bottom: 40px;
}
.announClass::before {
    background: #0b4778;
    content: '';
    display: block;
    width: 94%;
    height: 1px;
    position: absolute;
    top: 105px;
    left: 0;
    margin-left: 2.1vw;
}
.announTittle {
    color: #0b4778;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -10px;
}
.icon {
    width: 1.4vw;
    margin-right: 10px;
}
.announText {
    font-size: 16px;
    margin-left: 35px;
    line-height: 30px;
}
.readMore {
    background: none;
    color: #0b4778;
    font-weight: 400;
    font-size: 16px;
    border: none;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding-right: 30px;
}
.readMore:hover {
    color: rgb(70, 70, 75);
    font-weight: 400;
    font-size: 16px;
    margin-left: 20px;
    transform:translateX(-10px);
    background: none;
}