.assetSales {
    background: url('/img/8MdqvBXAiQn3DJtHY4paWd.jpg');
    width: 100vw;
    height: 100vh;
    display: flex;
    position: relative;
}
.assetContainer {
    background: white;
    height: 20vh;
    width: 45vw;
    position: absolute;
    top: 90%;
    left: 45%;
    z-index: 10;
    padding-left: 30px;
    padding-right: 30px;
}
.lowPart {
    width: 100vw;
    height: 15vh;
    background: #0b4778;
    position: absolute;
    top: 100%;
}
.assetButton {
    background: #bd965b;
}
.assetButton:hover{
    background: #bd965b;
    transform: scale(1.05);
}
.assetTitle {
    font-family: 'Merriweather', serif;
    color: #0b4778;
    font-weight: 400;
}