.featuredNews {
    font-family: 'Nunito', sans-serif;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    margin-top: 14vh;
}
.featNews {
    font-family: 'Merriweather', serif;;
    color: #0b4778;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    margin-left: 3.5vw;
    margin-top: 20px;
    margin-bottom: -1.5vh;
    width: 70vw;
}
.featNews::after {
    background: #0b4778;
    content: '';
    display: block;
    width: 95%;
    height: 1px;
    position: absolute;
    top: 50px;
    left: 0;
}
.newsText {
    font-family: 'Nunito', sans-serif;
    position: relative;
    width: 70vw;
    margin-left: 1.8vw;
    margin-bottom: -2vh;
}
.newsText {
    width: 67vw;
    margin-left: 1.8vw;
    margin-bottom: -2vh;
    position: relative;
}
.newsText::after {
    background: #0b4778;
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 1px;
    margin-top: 7vh;
    left: 0;
}
.newsContent  {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    width: 70vw;
}
.Title {
    font-family: 'Merriweather', serif;
    color: #0b4778;
    font-size: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-top: 4vh;
    margin-left: 1.8vw;
    margin-bottom: 1vh;
}

.date {
    font-weight: 600;
    color: #71767a;
    display: flex;
    justify-content: flex-start;
    position: relative;
    width: 70vw;
    font-size: 14px;
    margin-top: 7vh;
    margin-left: 1.8vw;
    margin-bottom: -2vh;
}
.date::before {
    background: #c7a97b;
    content: '';
    width: 3%;
    height: 3px;
    margin-top: 7px;
    margin-right: 1vw; 
    left: 0;
}
.readMoreNews {
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    background: none;
    border: none;
    color: #0b4778;
    margin-top: 3vh;
}
.readMoreNews:hover {
    color: rgb(70, 70, 75);
    font-size: 14px;
    transform:translateX(18px);
    background: none;
}